<div class="ui inverted fixed menu">
  <div class="right menu">
    <a class="item">
      <i class="user icon"></i>gemma.cameron@gmail.com
    </a>
    <i class="alternate sign out icon"></i>
  </div>
</div>