<h2 class="ui header">
	<i class="warning circle icon"></i>
	<div class="content">
	  Unauthorised
	  <div class="sub header">Whoops</div>
	</div>
</h2>


<div class="content">
	<p>Very sorry - we can't let you in.</p>
</div>
